@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.about {
	&-hero {
		background-image: url("/src/images/mobile/about/about-header.svg");

		@include sc-breakpoint(768) {
			background-image: url("/src/images/tablet/about/about-header-tablet.svg");
		}

		@include sc-breakpoint(1024) {
			background-image: url("/src/images/desktop/about/about-header-desktop.svg");
		}
	}
}

.arrow {
	&--mobility {
		top: 100px;
		right: 0;
		width: 95%;

		@include sc-breakpoint(768) {
			top: 262px;
			width: 1120px;
		}

		@include sc-breakpoint(1024) {
			width: 720px;
		}

		@include sc-breakpoint(1200) {
			width: 1000px;
		}

		@include sc-breakpoint(1300) {
			width: 1120px;
		}
	}

	&--urban-living {
		top: 0;
		left: 0;
		width: 95%;

		@include sc-breakpoint(768) {
			width: 400px;
		}

		@include sc-breakpoint(1024) {
			top: 0;
		}
	}
}
