@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.about {
	&-header {
		background-image: url("/src/images/mobile/about/about-header.svg");

		@include sc-breakpoint(768) {
			background-image: url("/src/images/tablet/about/about-header-tablet.svg");
		}

		@include sc-breakpoint(1024) {
			background-image: url("/src/images/desktop/about/about-header-desktop.svg");
		}
	}

	&__wrapper {
	}
}
