@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.home-app {
	.app {
		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 55px;
			text-align: center;
			padding: 0 20px;
			margin: 120px 0;
		}

		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 35px;

			&__image {
				padding: 24px;
				background: colors.$yellow-gold;
				border-radius: 50%;
			}
		}
	}
}
