@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.home {
	&-hero {
		background-image: url("/src/images/mobile/home/mobile-hero.svg");

		@include sc-breakpoint(1024) {
			background-image: url("/src/images/tablet/home/tablet-hero.svg");
		}

		@include sc-breakpoint(1024) {
			background-image: url("/src/images/desktop/home/hero-desktop.svg");
		}

		&__wrapper {
			display: grid;
			justify-content: center;
			padding-top: 120px;
			padding-bottom: 120px;
			text-align: center;

			& > * {
				grid-column: 1/-1;
			}

			@include sc-breakpoint(1024) {
				grid-template-columns: repeat(12, minmax(0, 1fr));
				text-align: left;
				align-items: flex-start;
				padding-left: 165px;
			}

			@include sc-breakpoint(1024) {
				padding: 153px 165px;
			}
		}

		.hero {
			&__title {
				max-width: 500px;

				@include sc-breakpoint(1024) {
					grid-column: 1/-1;
					grid-row: 1;
				}
			}

			&__text {
				padding: 33px 0;
				max-width: 550px;

				@include sc-breakpoint(768) {
					padding: 43px 0;
				}

				@include sc-breakpoint(1024) {
					padding: 54px 0;
					max-width: 346px;
					grid-column: 2/-1;
					grid-row: 2;
				}

				@include sc-breakpoint(1280) {
					max-width: 405px;
				}
			}

			&__arrow {
				position: absolute;

				@include sc-breakpoint(1024) {
					top: 48%;
				}

				&--full {
					bottom: 20px;
					left: 0;
					animation: moveX 2s infinite;
					animation-direction: alternate;

					@keyframes moveX {
						0% {
							transform: translate(0, 0);
						}
						100% {
							transform: translate(120px, 0);
						}
					}

					@include sc-breakpoint(768) {
						animation: unset;
					}

					@include sc-breakpoint(1024) {
						left: auto;
						right: 0;
					}

					@include sc-breakpoint(1200) {
						right: auto;
						left: 660px;
					}

					@include sc-breakpoint(1300) {
						left: 700px;
					}

					@include sc-breakpoint(1500) {
						right: 20%;
						left: auto;
					}
				}

				&--line {
					display: none;

					@include sc-breakpoint(1024) {
						display: block;
						left: 0;
					}
				}
			}

			&__circles {
				display: none;

				@include sc-breakpoint(768) {
					position: absolute;
					display: flex;
					gap: 15px;
					right: 0;
					bottom: 20px;
				}

				@include sc-breakpoint(1400) {
					bottom: auto;
					top: 58%;
				}
			}
		}

		.button--cta {
			width: 180px;
			margin-bottom: 60px;
			justify-self: center;

			@include sc-breakpoint(1024) {
				grid-column: 2/-1;
				grid-row: 3;
				justify-self: flex-start;
			}
		}
	}

	&__app {
		position: relative;

		@media screen and (min-width: 768px) and(max-width: 1024px) {
			display: grid;
			grid-template-rows: repeat(5, 1fr);
		}

		.app {
			&__wrapper {
				padding-bottom: 0;
				padding-top: 122px;
			}

			&__image {
				height: 56px;
				width: 56px;
				display: flex;
				justify-content: center;
				align-items: center;
				background: colors.$yellow-gold;
				border-radius: 50%;

				@include sc-breakpoint(768) {
					width: 96px;
					height: 96px;
				}

				@include sc-breakpoint(1024) {
					width: 96px;
				}
			}

			&__item {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 35px;

				@include sc-breakpoint(768) {
					flex-direction: row;
					align-items: flex-start;
					gap: 79px;
				}

				@include sc-breakpoint(1024) {
					flex-direction: column;
				}

				&__wrapper {
					@media screen and (min-width: 768px) and(max-width: 1024px) {
						position: absolute;
						left: 100px;
					}

					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 55px;
					text-align: center;
					padding-bottom: 0;

					@include sc-breakpoint(768) {
						text-align: left;
						gap: 30px;
					}

					@include sc-breakpoint(1024) {
						flex-direction: row;
						align-items: flex-start;
						justify-content: space-around;
					}
				}

				&__content {
					@include sc-breakpoint(768) {
						max-width: 400px;
					}
				}

				&__text {
					padding-top: 33px;

					@include sc-breakpoint(1400) {
						max-width: 350px;
					}
				}
			}

			&__line {
				display: none;

				@include sc-breakpoint(768) {
					display: block;
					position: absolute;
					top: 0;
					left: 138px;
					height: 513px;
					width: 16px;
					background-color: colors.$light-gray;
					z-index: -1;
				}

				@include sc-breakpoint(1024) {
					width: 70%;
					height: 16px;
					top: 160px;
					left: 0;
				}
			}
		}
	}

	&__about {
		margin-top: 127px;

		@include sc-breakpoint(768) {
			margin-top: 145px;
		}

		@include sc-breakpoint(1024) {
			margin-top: 200px;
		}

		.about {
			&__item {
				.arrow {
					&--near-you {
						left: 0;
						top: 0;

						@include sc-breakpoint(768) {
							width: 450px;
						}
					}

					&--payments {
						right: 0;
						top: 40px;

						@include sc-breakpoint(768) {
							top: 60px;
							width: 540px;
						}

						@include sc-breakpoint(1400) {
							width: 400px;
						}
					}
				}
			}
		}
	}
}
