@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.home {
	&__app {
		position: relative;
		.app {
			&__wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 55px;
				text-align: center;
				padding: 80px 20px;

				@include sc-breakpoint(768) {
					text-align: left;
					gap: 47px;
					padding: 120px 50px;
				}
			}

			&__image {
				padding: 24px;
				background: colors.$yellow-gold;
				border-radius: 50%;

				@include sc-breakpoint(768) {
					width: 100px;
					height: 50px;
					align-self: baseline;
				}
			}

			&__line {
				display: none;

				@include sc-breakpoint(768) {
					display: block;
					position: absolute;
					top: 0;
					left: 84px;
					height: 513px;
					width: 16px;
					background-color: colors.$light-gray;

					z-index: -1;
				}
			}
			&__item {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 35px;

				@include sc-breakpoint(768) {
					flex-direction: row;
				}

				&__text {
					padding-top: 33px;

					@include sc-breakpoint(768) {
						padding-right: 135px;
					}
				}
			}
		}
	}

	&__about {
		.about {
			&__item {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				padding: 0 20px;

				.half-circle {
					display: none;
					@include sc-breakpoint(768) {
						display: block;
						position: absolute;

						&--left {
							top: -70px;
							right: 0;
						}

						&--right {
							left: 0;
							top: -10px;
						}
					}
				}

				&__image {
					border-radius: 50%;

					@include sc-breakpoint(768) {
						width: 400px;
					}

					&__wrapper {
						position: relative;
					}
				}

				&__arrow {
					position: absolute;
					z-index: 2;
				}

				.arrow {
					&--telemetry {
						top: 150px;

						@include sc-breakpoint(768) {
							top: 200px;
							right: 0;
						}
					}

					&--near-you {
						@include sc-breakpoint(768) {
							left: 0;
						}
					}

					&--payments {
						right: 0;
					}
				}

				&__title {
					padding-top: 60px;
					max-width: 300px;
				}

				&__text {
					padding: 45px 19.5px 49px 19.5px;

					@include sc-breakpoint(768) {
						padding: 45px 98px 49px 98px;
					}
				}

				.button--learn-more {
					margin-bottom: 114px;
				}
			}
		}
	}
}
