$white: #ffffff;
$white-gray: #f2f5f9;
$light-gray: #e5ecf4;
$text-light-gray: #939caa;
$text-dark-gray: #495567;
$light-black: #333a44;
$black: #000000;
$yellow-gold: #fcb72b;
$light-yellow: #fff4df;
