@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.about {
	&__section {
		display: flex;
		flex-direction: column;
		gap: 120px;
		overflow: hidden;

		&--only {
			margin-bottom: 137px;
		}

		@include sc-breakpoint(1024) {
			gap: 160px;
		}

		&__only {
			margin-top: 72px;

			@include sc-breakpoint(768) {
				margin-top: 150px;
			}
		}
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;

		@include sc-breakpoint(1024) {
			flex-direction: row-reverse;
			text-align: left;
			justify-content: space-between;
			gap: 40px;
		}

		@include sc-breakpoint(1080) {
			gap: 120px;
		}

		@include sc-breakpoint(1400) {
			max-width: 1400px;
			margin: 0 auto;
			gap: 220px;
		}

		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 350px;

			@include sc-breakpoint(768) {
				max-width: 580px;
			}

			@include sc-breakpoint(1024) {
				align-items: flex-start;
				max-width: 445px;
			}
		}

		&--flip {
			@include sc-breakpoint(1024) {
				flex-direction: row;
			}
		}

		.half-circle {
			display: none;
			z-index: -1;

			@include sc-breakpoint(768) {
				display: block;
				position: absolute;
			}

			&--left {
				@include sc-breakpoint(768) {
					top: 0;
					right: 0;
				}
			}

			&--right {
				@include sc-breakpoint(768) {
					left: 0;
					top: -10px;
				}
			}
		}

		&__image {
			&:hover {
				filter: brightness(0.7);
			}

			img {
				border-radius: 50%;
				width: 100%;
				z-index: 2;

				&__wrapper {
					position: relative;
				}
			}
		}

		&__arrow {
			position: absolute;
			z-index: 2;
		}

		.arrow {
			&--telemetry,
			&--mission {
				right: 0;
				top: 150px;
				width: 95%;

				@include sc-breakpoint(768) {
					width: 1120px;
					top: 306px;
					right: 0;
					bottom: 0;
				}

				@include sc-breakpoint(1024) {
					top: initial;
					width: 800px;
				}

				@include sc-breakpoint(1400) {
					width: 1100px;
				}
			}
		}

		&__title {
			padding-top: 60px;
			max-width: 300px;

			@include sc-breakpoint(768) {
				padding-top: 70px;
				max-width: 450px;
			}

			@include sc-breakpoint(1024) {
				padding-top: 0;
			}

			@include sc-breakpoint(1200) {
				max-width: 500px;
			}
		}

		&__text {
			padding: 45px 0 39px 0;

			@include sc-breakpoint(768) {
				padding: 45px 0 49px 0;
			}

			@include sc-breakpoint(1024) {
				padding: 37px 0 47px 0;
				max-width: 440px;
			}

			@include sc-breakpoint(1080) {
				width: 580px;
			}
		}
	}
}
