@use "../variables/colors" as colors;
@import "../variables/breakpoints";

button:hover {
	cursor: pointer;
}

.button {
	&--cta {
		padding: 17px 30px;
		color: colors.$white;
		background-color: colors.$yellow-gold;
		border: none;

		transition: transform 0.5s;

		&:hover {
			transform: scale(1.1);
		}
	}

	&--learn-more {
		padding: 14px 43px;
		background-color: colors.$yellow-gold;
		color: colors.$white;
		border: none;
		transition: transform 0.5s;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.icon--close {
	display: none;
}
