@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.button:hover {
	cursor: pointer;
}

.button {
	border: none;

	&--cta {
		padding: 17px 30px;
		color: colors.$white;
		background-color: colors.$yellow-gold;
		transition: all 0.5s;

		&:hover,
		&:active {
			background: none;
			color: colors.$yellow-gold;
			border: 1px solid colors.$yellow-gold;
		}
	}

	&--learn-more {
		padding: 14px 43px;
		background-color: colors.$yellow-gold;
		color: colors.$white;
		transition: all 0.5s;

		&:hover,
		&:active {
			background: none;
			color: colors.$yellow-gold;
			border: 1px solid colors.$yellow-gold;
		}
	}

	&--download-app {
		display: grid;
		column-gap: 10px;
		padding: 8px 11px;
		background-color: colors.$light-gray;
		border-radius: 4px;
		text-align: left;
		transition: filter 0.5s;

		.download-btn__image {
			grid-row: 1/-1;
			align-self: center;
		}

		.download-btn__text {
			grid-row: 1;

			span {
				display: block;
			}
		}

		&:hover {
			filter: invert(1);
		}
	}
}

.icon--close {
	display: none;
}
