@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.faq {
	text-align: center;

	&__fraction {
		@include sc-breakpoint(1024) {
			display: flex;
			justify-content: space-between;
			gap: 47px;
			text-align: left;
			margin-top: 64px;
		}

		&__title {
			margin-top: 52px;
			margin-bottom: 37px;

			@include sc-breakpoint(1024) {
				margin-top: 0;
			}
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding: 32px;
		margin-bottom: 0;
		text-align: left;
		background-color: colors.$white-gray;

		@include sc-breakpoint(1024) {
			width: 550px;
			padding: 37px 40px;

			&:hover {
				background-color: colors.$light-yellow;
				cursor: pointer;
			}
		}

		@include sc-breakpoint(1400) {
			width: 660px;
		}

		&__wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 16px;

			@include sc-breakpoint(768) {
				gap: 24px;
			}
		}

		&__answer {
			display: none;
			max-width: 96%;
		}
	}

	.question {
		&__wrapper {
			display: flex;
			align-items: center;
			gap: 20px;

			@include sc-breakpoint(768) {
				justify-content: space-between;
			}
		}
	}
}

.rotate-faq-arrow {
	transform: rotate(180deg);
}

.answer--open {
	display: block;
}
