@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.hero {
	position: relative;
	background-image: url("/src/images/mobile/home/mobile-hero.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@include sc-breakpoint(1024) {
		background-image: url("/src/images/tablet/home/tablet-hero.svg");
	}

	@include sc-breakpoint(1024) {
		background-image: url("/src/images/desktop/home/hero-desktop.svg");
	}

	&--home {
		display: grid;
		justify-content: center;
		padding-top: 120px;
		padding-bottom: 120px;
		text-align: center;

		& > * {
			grid-column: 1/-1;
		}

		@include sc-breakpoint(1024) {
			grid-template-columns: repeat(12, minmax(0, 1fr));
			text-align: left;
			align-items: flex-start;
			padding-left: 165px;
		}

		@include sc-breakpoint(1024) {
			padding: 153px 165px;
		}
	}

	&--title-only {
		position: relative;
		text-align: center;
		padding-top: 67px;
		padding-bottom: 67px;
		margin-bottom: 72px;

		@include sc-breakpoint(768) {
			padding-top: 72px;
			padding-bottom: 72px;
			margin-bottom: 150px;
			align-items: flex-start;
			text-align: left;

			.hero__title {
				padding-left: 68px;
			}
		}

		.header__circles {
			@include sc-breakpoint(768) {
				bottom: 33%;
				top: auto;
			}
		}
	}

	&__wrapper {
		&--text-only {
			position: relative;
		}
	}

	&__title {
		max-width: 500px;

		@include sc-breakpoint(1024) {
			grid-column: 1/-1;
			grid-row: 1;
		}
	}

	&__text {
		padding: 33px 0;
		max-width: 550px;

		@include sc-breakpoint(768) {
			padding: 43px 0;
		}

		@include sc-breakpoint(1024) {
			padding: 54px 0;
			max-width: 346px;
			grid-column: 2/-1;
			grid-row: 2;
		}

		@include sc-breakpoint(1080) {
			// padding: 54px 0 54px 96px;
		}

		@include sc-breakpoint(1280) {
			max-width: 405px;
		}
	}

	.button--cta {
		width: 180px;
		margin-bottom: 60px;
		justify-self: center;

		@include sc-breakpoint(1024) {
			grid-column: 2/-1;
			grid-row: 3;
		}
	}

	&__arrow {
		position: absolute;

		@include sc-breakpoint(1024) {
			top: 48%;
		}

		&--full {
			bottom: 20px;
			left: 0;
			animation: moveX 2s infinite;
			animation-direction: alternate;

			@keyframes moveX {
				0% {
					transform: translate(0, 0);
				}
				100% {
					transform: translate(120px, 0);
				}
			}

			@include sc-breakpoint(768) {
				animation: unset;
			}

			@include sc-breakpoint(1024) {
				left: auto;
				right: 0;
			}

			@include sc-breakpoint(1200) {
				right: auto;
				left: 660px;
			}

			@include sc-breakpoint(1300) {
				left: 700px;
			}
		}

		&--line {
			display: none;

			@include sc-breakpoint(1024) {
				display: block;
				left: 0;
			}
		}
	}

	&__circles {
		display: none;

		@include sc-breakpoint(768) {
			position: absolute;
			display: flex;
			gap: 15px;
			right: 0;
			top: -4px;
		}

		@include sc-breakpoint(1300) {
			bottom: auto;
			top: 58%;
		}
	}
}
