@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.hero {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&--title-only {
		text-align: center;
		padding-top: 67px;
		padding-bottom: 67px;
		margin-bottom: 72px;

		@include sc-breakpoint(768) {
			padding-top: 72px;
			padding-bottom: 72px;
			margin-bottom: 150px;
			align-items: flex-start;
			text-align: left;
		}

		.hero__circles {
			display: none;

			@include sc-breakpoint(768) {
				position: absolute;
				display: flex;
				gap: 15px;
				right: 0;
				bottom: 33%;
			}
		}
	}
}
