@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.locations {
	margin: 0 32px;

	@include sc-breakpoint(640) {
		margin: 0 63px;
	}

	@include sc-breakpoint(768) {
		margin-top: 140px;
	}

	@include sc-breakpoint(1400) {
		max-width: 1440px;
		margin-right: auto;
		margin-left: auto;
	}

	&-hero {
		background-image: url("/src/images/mobile/careers/careers-hero-mobile.svg");

		@include sc-breakpoint(1024) {
			background-image: url("/src/images/tablet/careers/careers-hero-tablet.svg");
		}

		@include sc-breakpoint(1024) {
			background-image: url("/src/images/desktop/careers/careers-hero-desktop.svg");
		}
	}

	&__map {
		@include sc-breakpoint(768) {
			position: relative;
			max-width: 689px;
			margin: 0 auto;
		}

		@include sc-breakpoint(1024) {
			width: 900px;
			max-width: 900px;
		}

		@include sc-breakpoint(1300) {
			width: 1211px;
			max-width: 1211px;
		}

		// @include sc-breakpoint(1400) {
		// 	width: 1100px;
		// 	max-width: 1100px;
		// }
	}

	&__image {
		img {
			width: 100%;
		}
	}

	&__city {
		margin-top: 40px;
		margin-bottom: 80px;
	}

	&__list {
		padding-top: 40px;

		@include sc-breakpoint(768) {
			padding-top: 0;
		}
	}

	&__item {
		padding: 22px 100px;
		margin-bottom: 16px;
		text-align: center;
		background-color: colors.$light-yellow;
		color: colors.$text-dark-gray;

		@include sc-breakpoint(768) {
			position: absolute;
			padding: 11px 30px;
			margin-bottom: 0;
			background-color: colors.$yellow-gold;

			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 0px;
				height: 0px;
				left: 37%;
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
				border-top: 20px solid colors.$yellow-gold;
			}
		}

		&--ny {
			@include sc-breakpoint(768) {
				top: 25px;
				left: 86px;
			}

			@include sc-breakpoint(1024) {
				transform: translate(60px, 33px);
			}

			@include sc-breakpoint(1300) {
				transform: translate(112px, 92px);
			}
		}

		&--london {
			@include sc-breakpoint(768) {
				top: 4px;
				left: 225px;
			}

			@include sc-breakpoint(1024) {
				transform: translate(115px, 23px);
			}

			@include sc-breakpoint(1300) {
				transform: translate(254px, 52px);
			}
		}

		&--yokohama {
			@include sc-breakpoint(768) {
				right: 38px;
				top: 36px;
			}

			@include sc-breakpoint(1024) {
				transform: translate(-31px, 37px);
			}

			@include sc-breakpoint(1300) {
				transform: translate(-96px, 96px);
			}
		}

		&--jakarta {
			@include sc-breakpoint(768) {
				top: 136px;
				right: 89px;
			}

			@include sc-breakpoint(1024) {
				transform: translate(-53px, 79px);
			}

			@include sc-breakpoint(1300) {
				transform: translate(-122px, 174px);
			}
		}
	}

	&__content {
		text-align: center;
		padding-top: 80px;
		max-width: 570px;
		margin: 0 auto;

		@include sc-breakpoint(768) {
			padding: 75px 37px 0 37px;
		}

		@include sc-breakpoint(1024) {
			padding: 75px 0 0 0;
		}

		@include sc-breakpoint(1024) {
			max-width: initial;
			display: grid;
			grid-auto-flow: column;
			align-items: center;
			gap: 30px;
			text-align: left;
		}

		@include sc-breakpoint(1300) {
			width: 1211px;
			max-width: 1211px;
			gap: 94px;
		}

		&__title {
			@include sc-breakpoint(1024) {
				max-width: 350px;
			}
		}

		&__text {
			padding-top: 43px;
			padding-bottom: 39px;

			@include sc-breakpoint(1024) {
				max-width: 450px;
			}
		}
	}
}
