@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.positions {
	@include sc-breakpoint(1400) {
		max-width: 1440px;
		margin: 0 auto;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 32px;
		margin-bottom: 16px;
		background-color: colors.$white-gray;

		@include sc-breakpoint(768) {
			flex-direction: row;
			justify-content: space-between;
		}

		&__location {
			padding-top: 17px;
			padding-bottom: 23px;
		}
	}
}
