@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.footer {
	text-align: center;
	background-color: colors.$light-black;

	&__title {
		max-width: 320px;

		@include sc-breakpoint(768) {
			max-width: 300px;
		}
	}

	&__top,
	&__top__buttons {
		display: flex;
		align-content: center;
		align-items: center;
	}
	&__top {
		position: relative;
		flex-direction: column;
		gap: 44px;
		padding: 93px 12px;
		background-color: colors.$text-dark-gray;

		@include sc-breakpoint(425) {
			padding: 93px 32px;
		}

		@include sc-breakpoint(768) {
			padding: 62px 179px;
		}

		&__buttons {
			justify-content: center;
			gap: 20px;
			text-align: left;
		}

		.footer-bg__img {
			position: absolute;
			bottom: 0;

			&--border {
				left: 0;
			}

			&--full {
				right: 0;
			}

			&--middle {
				display: none;

				@include sc-breakpoint(768) {
					display: block;
				}
			}
		}
	}

	&__bottom {
		@include sc-breakpoint(768) {
			display: flex;
			align-items: center;
			justify-content: space-around;
		}

		&__menu,
		&__list {
			display: flex;
			flex-direction: column;
			align-content: center;

			@include sc-breakpoint(768) {
				flex-direction: row;
			}
		}

		&__menu {
			@include sc-breakpoint(768) {
				gap: 58px;
			}
		}

		&__list {
			gap: 30px;

			@include sc-breakpoint(768) {
				align-items: center;
			}
		}
	}

	&__logo {
		padding: 64px 0 49px 0;

		@include sc-breakpoint(768) {
			padding: 32px 0;
		}
	}

	&__social {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 35px;
		padding: 92px 0 88px 0;

		@include sc-breakpoint(768) {
			padding: 0;
		}

		&__icon:hover {
			transition: filter 0.5s;

			&:hover {
				filter: contrast(1.7);
			}
		}
	}
}
