@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.footer {
	margin-top: 127px;
	text-align: center;
	background-color: colors.$text-dark-gray;
	overflow: hidden;

	@include sc-breakpoint(768) {
		margin-top: 145px;
	}

	@include sc-breakpoint(1024) {
		margin-top: 200px;
	}

	&__title {
		max-width: 320px;

		@include sc-breakpoint(768) {
			max-width: 450px;
		}
	}

	.footer-bg__img {
		position: absolute;
		bottom: 0;

		&--left {
			left: -200px;
		}

		&--full {
			right: 0;

			@include sc-breakpoint(1024) {
				right: -30px;
			}
		}

		&--middle {
			display: none;

			@include sc-breakpoint(600) {
				display: block;
				left: 24%;
			}

			@include sc-breakpoint(1024) {
				left: 35%;
			}
		}
	}

	&__top__wrapper,
	&__top__buttons {
		display: flex;
		align-content: center;
		align-items: center;
	}
	&__top {
		position: relative;

		&__wrapper {
			flex-direction: column;
			gap: 44px;
			padding-top: 93px;
			padding-bottom: 93px;

			@include sc-breakpoint(768) {
				padding-top: 62px;
				padding-bottom: 62px;
			}

			@include sc-breakpoint(1024) {
				flex-direction: row;
				justify-content: space-between;
				align-items: baseline;
				text-align: left;
				padding-top: 120px;
				padding-bottom: 120px;
			}
		}

		&__buttons {
			justify-content: center;
			gap: 18px;
			text-align: left;
			z-index: 2;
		}
	}

	&__bottom {
		background-color: colors.$light-black;

		&__wrapper {
			@include sc-breakpoint(768) {
				display: flex;
				align-items: center;
				justify-content: space-around;
			}

			@include sc-breakpoint(1024) {
				justify-content: space-between;
				// padding: 36px 165px;
			}
		}

		&__menu,
		&__list {
			display: flex;
			flex-direction: column;
			align-content: center;

			@include sc-breakpoint(768) {
				flex-direction: row;
			}
		}

		&__menu {
			@include sc-breakpoint(768) {
				gap: 58px;
			}

			@include sc-breakpoint(1024) {
				// padding-top: 36px;
				// padding-bottom: 36px;
			}
		}

		&__list {
			gap: 30px;

			@include sc-breakpoint(768) {
				align-items: center;
			}
		}
	}

	&__logo {
		padding: 64px 0 49px 0;

		@include sc-breakpoint(768) {
			padding: 32px 0;
		}
	}

	&__social {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 35px;
		padding: 92px 0 88px 0;

		@include sc-breakpoint(768) {
			padding: 0;
		}

		&__icon > path {
			transition: fill 0.5s;

			&:hover,
			&:active {
				fill: colors.$light-gray;
			}
		}
	}
}
