@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.display-none {
	display: none;
}

.display-block {
	display: block;
}

.body-menu-open {
	overflow: hidden;
	position: fixed;
}

.about__item,
.home__app,
.values {
	padding: 0 32px;

	@include sc-breakpoint(768) {
		padding: 0 100px;
	}
}
