@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.header {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: colors.$white;

	&__circles {
		display: none;

		@include sc-breakpoint(768) {
			position: absolute;
			display: flex;
			gap: 15px;
			right: 0;
			bottom: 20px;
		}

		@include sc-breakpoint(1300) {
			bottom: auto;
			top: 65%;
		}
	}

	&--darken {
		opacity: 0.5;
		mix-blend-mode: soft-light;
	}
}
