@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.header {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: colors.$white;

	&--darken {
		// background-color: colors.$light-black;
		// background-blend-mode: darken;
		// height: 100vh;
	}
}
