@use "../variables/colors"as colors;
@import "../variables/breakpoints";
//General
h1,
h2,
h3,
h4,
a,
button {
	font-family: "Space Mono";
	font-weight: 700;
	margin: 0;
}

p {
	margin: 0;
	font-family: "Lexend Deca";
	font-weight: 400;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

//Repeated
.about__item__title,
.values__title,
.faq__title,
.footer__title {
	font-size: 32px;
	line-height: 32px;
	letter-spacing: -1.43px;

	@include sc-breakpoint(768) {
		font-size: 48px;
		line-height: 48px;
		letter-spacing: -2.14px;
	}
}

.header__text,
.about__item__text,
.footer__menu__item > a,
.values__item__text,
.app__item__text,
.button--cta,
.faq__item__answer {
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 0px;
}

.faq__fraction__title,
.values__item__number,
.values__item__title {
	font-size: 24px;
	line-height: 28px;
	letter-spacing: -1.07px;
}

.nav__list__item > a,
.faq__item__question {
	font-size: 18px;
	line-height: 25px;
}

//Header
.header {
	color: colors.$white;

	&__title {
		font-size: 40px;
		line-height: 40px;
		letter-spacing: -1.78px;

		@include sc-breakpoint(768) {
			font-size: 56px;
			line-height: 56px;
			letter-spacing: -2.5px;
		}
	}
}

//Navigation
.nav__list__item > a {
	letter-spacing: 0px;
	color: colors.$light-gray;

	&:hover {
		color: colors.$yellow-gold;
	}

	@include sc-breakpoint(768) {
		color: colors.$text-light-gray;
	}
}

//Footer
.footer {
	&__title {
		color: colors.$white;
	}

	.download-btn__text p {
		font-family: "Space Mono";
		font-weight: 600;
		font-size: 9px;
		color: colors.$text-dark-gray;

		span {
			font-size: 17px;

			@include sc-breakpoint(768) {
				font-size: 20px;
				line-height: 24px;
			}
		}
	}

	&__menu__item > a {
		color: colors.$text-light-gray;

		&:hover {
			color: colors.$yellow-gold;
		}
	}
}

//Pages
//Home
.home__wrapper {
	.app__item {
		&__title {
			font-size: 20px;
			line-height: 28px;
			letter-spacing: -0.89px;
			color: colors.$text-dark-gray;

			@include sc-breakpoint(768) {
				font-size: 24px;
				line-height: 28px;
				letter-spacing: -1.07px;
			}
		}

		&__text {
			color: colors.$text-light-gray;
		}
	}
}

//Components
.about__item {
	&__title {
		color: colors.$text-dark-gray;
	}

	&__text {
		color: colors.$text-light-gray;
	}
}

.values__item__text {
	color: colors.$text-light-gray;
}

.faq {
	color: colors.$text-dark-gray;

	&__fraction__title {
		@include sc-breakpoint(768) {
			font-size: 40px;
			line-height: 48px;
			letter-spacing: -1.78px;
		}
	}

	&__item__question {
		@include sc-breakpoint(768) {
			font-size: 24px;
			line-height: 28px;
		}
	}
}
